/* footer */
footer {
  background-color: $color-fondo-cabeza-pie;
  color: $color-letra;
  text-align: center;
  div {
    a {
      text-decoration: none;
      color: $color-letra;
    }
    .logo-pie {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 15%;
    }
  }
}
